*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    text-align: center;
}

header{
    color: white;
    font-family: Verdana;
    
}

h1{
    font-size: 50px;
    font-weight:normal;
}

a{
    color: aquamarine;
    font-size: 16px;
}

h2{
    font-weight: 300;
    font-size: 42px;
}

p{
    font-size: 21px;
    font-family: Verdana;
    color: gray;
}

#copyright{   
    text-align: right;
    color: gray;
}